# Ignore development and OS specific files
.idea

# Ignore code coverage
coverage
.nyc_output

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
*.log
*.gz
npm-debug.log
out